apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-4z43
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-enyz-tenant/rhtap-demo-app/hacbs-test-project-4z43@sha256:4b12ba145efeed0dc304401a26dbe00b750e3eec2340d5a52273cf1d6ae84300
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
